@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-input-field {
  @apply bg-fieldInactive text-white p-4 rounded-lg active:border-white w-full shadow-xl;
}

.custom-socials-button {
  @apply w-full flex items-center justify-center gap-2 py-4 px-6 rounded-lg hover:cursor-pointer border-white border-2 hover:bg-gray-500;
}
